In [ ]:
import pandas as pd
import numpy as np

## EDA Problem 1
Meteorologia

Generacion_fotovoltaica

Consumo_fotovoltaica

In [41]:
meteo = pd.read_csv("datasets/Meteorologia.csv")
genfot = pd.read_csv("datasets/Generacion_fotovoltaica.csv", sep=",")
confot = pd.read_csv("datasets/Consumo_fotovoltaica.csv", sep=",")

In [42]:
meteo.head()

,FORECAST_TIMESTAMP,LATITUDE,LONGITUDE,10uheightAboveGround_10,10vheightAboveGround_10,2rheightAboveGround_2,2shheightAboveGround_2,2theightAboveGround_2,SUNSDsurface_0,aptmpheightAboveGround_2,...,spsurface_0,tccatmosphere_0,theightAboveGround_80,tmaxheightAboveGround_2,tminheightAboveGround_2,tozneatmosphereSingleLayer_0,tpsurface_0,tsurface_0,uheightAboveGround_80,vheightAboveGround_80
0,2023-07-24 11:00:00+00:00,40.0,-4.0,6.989717,1.524463,19.6,0.005070,301.667859,18000.0,300.244031,...,95095.853125,0.8,298.878662,301.632129,291.701489,324.006396,0.0,316.100012,7.979102,1.763457
1,2023-07-24 12:00:00+00:00,40.0,-4.0,7.526357,1.301797,18.4,0.005260,303.365576,21600.0,301.470923,...,95033.793750,1.7,300.500000,303.363452,291.701489,325.803369,0.0,318.700000,8.801675,1.623066
2,2023-07-24 13:00:00+00:00,40.0,-4.0,8.506143,1.294370,18.2,0.005665,304.854614,3600.0,302.703198,...,94955.268750,8.8,301.995581,304.815100,303.400000,326.096606,0.0,319.277295,9.977305,1.662959
3,2023-07-24 14:00:00+00:00,40.0,-4.0,9.392205,1.283123,17.4,0.005709,305.681506,7200.0,303.544031,...,94899.959375,5.0,302.944043,305.689685,303.400000,326.790967,0.0,318.515942,11.152161,1.711703
4,2023-07-24 15:00:00+00:00,40.0,-4.0,10.167048,1.555879,18.3,0.006080,305.976172,10800.0,303.834607,...,94838.475000,35.8,303.432275,305.995581,303.400000,329.955933,0.0,316.435266,12.256921,2.011133